<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="StartTime" value="03:30 PM " />
    <add key="callDuration" value="2" />
    <add key="CallType" value="1" />
    <add key="FromMail" value="pradeepcpk1997@gmail.com" />
    <add key="Password" value="riywykcxnrhqazgw" />
    <add key="Host" value="smtp.gmail.com" />
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp from="pradeepcpk1997@gmail.com">
        <network host="smtp.gmail.com" userName="pradeepcpk1997@gmail.com" password="riywykcxnrhqazgw" enableSsl="true" port="587" />
      </smtp>
    </mailSettings>
  </system.net>
  <!--<connectionStrings>
		<add name="constr" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=Staffmanagement;integrated security=true"/>
	</connectionStrings>-->

<connectionStrings><add name="StaffmanagementEntities" connectionString="metadata=&quot;res://*/Mail Entities Edmx.Model1.csdl|res://*/Mail Entities Edmx.Model1.ssdl|res://*/Mail Entities Edmx.Model1.msl&quot;;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\MSSQLLocalDB;initial catalog=Staffmanagement;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /><add name="StaffmanagementEntitie" connectionString="metadata=res://*/BLL.Mailmodel.Mail-service.csdl|res://*/BLL.Mailmodel.Mail-service.ssdl|res://*/BLL.Mailmodel.Mail-service.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\MSSQLLocalDB;initial catalog=Staffmanagement;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>