<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="StartTime" value="07:15 PM" />
    <add key="callDuration" value="2" />
    <add key="CallType" value="1" />
    <add key="FromMail" value="pradeepemailservice@gmail.com" />
    <add key="Password" value="ppumvczyjlrkbzfm" />
    <add key="Host" value="smtp.gmail.com" />
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp from="pradeepemailservice@gmail.com">
        <network host="smtp.gmail.com" userName="pradeepemailservice@gmail.com" password="ppumvczyjlrkbzfm" enableSsl="true" port="587" />
      </smtp>
    </mailSettings>
  </system.net>
<!--<connectionStrings>
		<add name="constr" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=Staffmanagement;integrated security=true"/>
	</connectionStrings>
	</configuration>-->
<connectionStrings><add name="StaffmanagementEntitiesss" connectionString="metadata=res://*/DLL.Mail-entity.myModel1.csdl|res://*/DLL.Mail-entity.myModel1.ssdl|res://*/DLL.Mail-entity.myModel1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\MSSQLLocalDB;initial catalog=Staffmanagement;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>
