<div class="container">
    @model staffstudent.Core.staffEntity.StudentMarkEntity
    <div class="row container">
        <div class="col">
            <div class="form-group">
                <h3>Student Roll number</h3>
                @Html.DisplayFor(m => m.Student_Roll_no)
            </div><div class="form-group">
                <h3>Subject</h3>
                @Html.DropDownList("Subject", new List<SelectListItem>
        { new SelectListItem{ Text="Tamil",Value="Tamil"},
        new SelectListItem{ Text="English",Value="English"},
        new SelectListItem{ Text="Science",Value="Science"},
        new SelectListItem{ Text="Maths",Value="Maths"} }, "Select subject to schedule..")
            </div><div class="form-group">
                <h3>Scheduled Time</h3>
                @Html.TextBoxFor(m => m.ScheduledTime, new { type = "date" })
            </div>
            <button class="btn btn-block btn-lg btn-success">Schedule</button>
        </div>
    </div>
    </div>